<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assign Teacher</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<app-navbar></app-navbar>
<body>
  <div *ngIf="successMessage" class="alert alert-primary" role="alert">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>

  <div class="container">
    <h1>Assign Teacher</h1>
    <form (ngSubmit)="doSubmitForm()" id="submitForm" >
      <div class="mb-3">
        <label for="courseId" class="form-label">Course Id</label>
        <input type="number" class="form-control" id="courseId" name="courseId" [(ngModel)]="data.courseId" required>
      </div>
      <div class="mb-3">
        <label for="teacherId" class="form-label">Teacher ID</label>
        <input type="number" class="form-control" id="teacherId" name="teacherId" [(ngModel)]="data.teacherId" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  
</body>

</html>
