/* #container {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    width:justify;
}
#container>div {
    width: 100px;
    height: 100px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    background:red;
}
span {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
} */

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.row div {
    background-color: #e6e6e6;
    padding: 10px;
    margin-right: 10px;
    flex-basis: 48%;
}

#student {
    margin-top: 10px;
}

